<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .fieldset{
            padding: 50px;
            background: #ccc;
            position: fixed; top: 8%; left: 10%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        body{
            color: blue;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/abc.css">
</head>
<body>
<form action="">
    <fieldset class="fieldset">
        <label for="one">Заголовок</label>
        <input id="one" placeholder="Введите текст" type="text">
        <button>Кнопка</button>
    </fieldset>
</form>
   <h1>  "Privet"
   </h1>
</body>
</html>